body {
    padding: 0 auto;
    margin: 0 auto;
    max-width: 1280px;
    background-color: #ffffff;
    font-family: "AdobeInvisFont", "MyriadPro-Regular", sans-serif;
}

header {
    display: inline-block;
}

header nav div {
    display: inline-block;
    float: left;
}

.logo {
    width: 292px;
    height: 74px;
    margin-top: 61px;
}

.menu1 {
    color: #d7dadc;
    width: 1280px;
    height: 69px;
    background-color: #35444f;
    display: flex;
    margin-top: 45px;
    text-align: center;
}

.item {
    text-align: center;
    height: auto;
    padding: 22px 42px 0px 41px;
    margin: 0px;
    width: auto;
    font-size: 24px;
}

.item:hover {
    background-color: #222f3a;
    border-left: 1px solid #818181;
    border-right: 1px solid #818181;
    transition: .3s all linear;
}

.item1 {
    margin-left: 203px;
}

main {
    margin-top: 50px;
}

.menu2 {
    display: inline-block;
    float: left;
    width: 344px;
    height: 399px;
    border: 1px solid #35444f;
    font-size: 30px;
}

.item-menu2 {
    padding-top: 25px;
    padding-left: 44px;
    height: 54px;
    text-align: left;
    background-color: #ffffff;
}

.item-menu2:hover {
    background-color: #dbdbdb;
    padding-left: 70px;
    transition: .3s all linear;
}

.imgcontainer {
    display: block;
    width: 885px;
    height: 529px;
    border: 1px solid #35444f;
    float: right;
}

.imgcontainer>img {
    margin-top: 75px;
    margin-left: 300px;
}

.text-container {
    display: block;
    float: right;
    width: 820px;
    font-size: 18px;
    padding-right: 40px;
    text-align: justify;
    margin-top: 30px;
}

footer {
    display: inline-block;
    width: 1280px;
    background-color: #b4b7ba;
    color: #0c1927;
    padding-left: 0px;
    width: 1280px;
    margin-top: 50px;
}

footer div {
    display: inline-block;
    font-size: 28px;
}

.footer-item {
    display: inline-block;
    float: left;
    padding-left: 15px;
    padding-top: 22px;
}

.footer-item:hover {
    color: #3181a6;
    text-decoration: underline;
}

footer>div:first-child {
    margin-left: 44px;
}

.rights {
    float: right;
    padding: 25px 34px 21px 0px;
    font-size: 24px;
}