html {
    font-size: 18px;
}

body {
    background-image: url('../img/bg-main.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px;
    font-family: Verdana, Courier, sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
}

ul {
    list-style: none;
}

.container {
    width: 80%;
    margin: 0 auto;
    position: relative;
    padding: 15px;
    overflow: hidden;
}

.header__name {
    background-image: url('../img/logo.png');
    background-repeat: no-repeat;
    background-position: 0vh;
    color: #fff;
    float: left;
    text-transform: uppercase;
}

.header__name:hover {
    background-image: url('../img/logoh.png');
}

.header__name:hover a {
    color: #F26522;
}

.header__name-title {
    font-weight: bold;
    font-size: 1.59em;
    margin-left: 50px;
}

.header__name-subtitle {
    font-weight: bold;
    margin-left: 50px;
}

.header__info {
    font-family: Verdana, Courier, sans-serif;
    font-size: 1em;
    float: right;
    text-align: right;
}

.first-line .item {
    box-sizing: border-box;
    display: inline-block;
}

.second-line .item {
    box-sizing: border-box;
    display: inline-block;
    margin-top: 20px;
}

.item {
    width: 32%;
}

.bg-image-1 {
    background-image: url('../img/bg-1.png');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 250px;
    position: relative;
}

.bg-image-2 {
    background-image: url('../img/bg-2.png');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 250px;
    position: relative;
    margin-left: 10px;
}

.bg-image-3 {
    background-image: url('../img/bg-3.png');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 250px;
    position: relative;
    margin-left: 20px;
}

.bg-image-4 {
    background-image: url('../img/bg-4.png');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 250px;
    position: relative;
}

.bg-image-5 {
    background-image: url('../img/bg-5.png');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 250px;
    position: relative;
    margin-left: 10px;
}

.bg-image-6 {
    background-image: url('../img/bg-6.png');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 250px;
    position: relative;
    margin-left: 20px;
}

.hidden-content {
    opacity: 0;
    box-sizing: border-box;
    display: inline-block;
    position: absolute;
    bottom: 38px;
    width: 100%;
    background-color: #F26522;
    padding: 10px 20px;
    font-size: 0.6rem;
}

.price {
    font-size: 1.1rem;
}

.item:hover .hidden-content {
    opacity: 1;
}

.item:hover .name {
    color: #F26522;
}

.details {
    position: absolute;
    right: 15px;
    bottom: 10px;
    font-size: 0.7rem;
}

.details::after {
    content: ' >';
}

.name {
    position: absolute;
    bottom: 10px;
    left: 25%;
}

.footer {
    font-size: 0.6rem;
    text-align: center;
    color: #fff;
}