@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
html {
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
}

body {
    background-color: white;
}

.container {
    margin: 0 auto;
    width: 80%;
}

.first-line {
    display: flex;
    flex-wrap: nowrap;
}

form {
    background-color: #F0F2F5;
    padding: 20px;
}

h2 {
    font-size: 1.875rem;
    font-weight: 700;
    border-bottom: solid 2px #E2E2E2;
    padding: .5rem 0;
}

h3 {
    font-size: 1.25rem;
    font-weight: 700;
    margin: .3rem 0;
}

.login {
    width: 35%;
}

.deli {
    width: 62%;
    margin-left: 3%;
}

details summary {
    list-style: none;
    cursor: pointer;
}

.second-line {
    margin-top: 30px;
    display: flex;
}

.second-line form details label {
    display: block;
    margin-top: 5px;
}

.second-line form details label input {
    width: 90%;
    padding: 5px 10px;
    margin-top: 5px;
}

table {
    font-size: .875rem;
    border-collapse: collapse;
}

table thead {
    background-color: #F0F2F5;
}

th {
    text-transform: uppercase;
    padding: 10px 20px;
    font-weight: 700;
}

td {
    padding: 5px;
}

textarea {
    width: 100%;
    resize: none;
}

.btn {
    padding: 10px 30px;
    border-style: none;
    border-radius: 20px;
    background-color: #946FD3;
    color: white;
    margin-left: 70%;
    font-weight: 700;
}

#capacity {
    width: 20%;
    border: 2px solid #E9E9E9;
    border-radius: 3px;
    height: 33px;
    padding: 0;
    margin: 0;
}