body {
    width: 750px;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

header {
    display: flex;
    background-color: #2D7053;
}

a {
    text-decoration: none;
    color: #ffffff;
    font-size: 24px;
}

.logo {
    margin: 45px 0px 48px 37px;
}

.heading {
    width: 134px;
    height: 131px;
    font-size: 30px;
    color: #ffffff;
    margin: 45px 0px 0px 58px;
}

.menu-1 {
    margin-top: 83px;
    margin-left: 250px;
}

.menu-2 {
    margin-top: 15px;
    margin-left: 250px;
}

.menu-3 {
    margin-top: 15px;
    margin-left: 250px;
}

.office {
    height: 466px;
    background: url('./img/cabinet.png');
    background-position: center left;
    background-origin: border-box;
}

.button {
    width: 342px;
    height: 75px;
    background-color: #CB9223;
    text-align: center;
    border: none;
    margin: 344px 0px 47px 204px;
}

.info {
    display: flex;
    color: black;
    font-size: 24px;
}

.info img {
    border-radius: 50%;
    margin: 73px 0px 0px 44px;
}

.name {
    font-size: 36px;
    margin: 134px 0px 0px 75px;
}

.specialty {
    margin: 29px 0px 0px 75px;
}

.about {
    font-size: 24px;
    margin: 60px 50px 0px 45px;
}

.reasons {
    font-size: 36px;
    margin: 46px 0px 0px 44px;
}

ul {
    list-style: none;
    font-size: 24px;
    margin-top: 43px;
    padding: 0px;
}

.button-2 {
    margin: 43px 0px 0px 173px;
}

footer {
    display: flex;
    margin-top: 30px;
    background-color: #888888;
    color: #ffffff;
    font-size: 18px;
}

footer img {
    margin: 29px 0px 28px 44px;
    height: 97px;
}

footer div a {
    font-size: 15px;
}

.adress {
    margin: 103px 0px 0px 184px;
    font-size: 15px;
}

.phone {
    margin: 57px 0px 0px 46px;
}