@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
:root {
    font-size: 16px;
    font-family: 'Arimo', sans-serif;
}

body {
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.main__title {
    font-size: 1.875rem;
    font-weight: 700;
    padding: 1rem 0;
    border-bottom: 1px solid #E2E2E2;
    margin-bottom: 30px;
}

.main__content {
    display: flex;
}

.sort {
    font-weight: 700;
    position: relative;
    left: 70%;
    margin-bottom: 10px;
}

.filter {
    border: 3px solid #EEE8F8;
    width: 20%;
    margin-right: 2%;
    height: 40%;
    padding: 20px;
}

.filter-subtitle {
    font-size: 1.5rem;
    font-weight: 700;
}

.filter input {
    display: inline;
    margin-top: .5rem;
}

summary {
    list-style: none;
    cursor: pointer;
    font-weight: 700;
    margin-top: 1.5rem;
}

#volume {
    border-style: none;
    border-radius: 5px;
    background-color: #946FD3;
    color: white;
    position: relative;
    left: 110px;
    top: -30px;
    cursor: pointer;
}

.grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1%;
}

.grid>div {
    border: 1px solid #E0E0E0;
    text-align: center;
    padding: 15px 10px;
}

.grid img {
    width: 90%;
}

a {
    display: block;
    text-decoration: none;
    text-align: center;
    font-weight: 700;
    color: #946FD3;
    border: 3px solid #946FD3;
    border-radius: 50px;
    padding: 20px 40px;
    margin: 40px auto;
    width: 10rem;
}