@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
:root {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

body {
    padding: 0;
}

.container {
    margin: 0 auto;
    width: 80%;
}

.header__title {
    font-size: 1.875rem;
    font-weight: 700;
    border-bottom: solid 1px #E2E2E2;
    padding-top: 50px;
    padding-bottom: 20px;
    margin-bottom: 1rem;
}

.main__content {
    display: flex;
    justify-content: space-between;
}

.main__content-order-details {
    width: 75%;
}

.main__content-subtitle {
    text-transform: uppercase;
    font-weight: 700;
    background-color: #F0F2F5;
    padding: .8rem 0 .8rem 1.25rem;
    width: 100%;
}

.main__content-details-info {
    display: flex;
    flex-direction: row;
    line-height: 2rem;
    padding: .8rem 0 .8rem 1.25rem;
}

.column-right {
    margin-left: 20%;
}

.main__content-details-info span {
    font-weight: 700;
}

.main__content-customer {
    display: flex;
}

.contact-info {
    padding: .8rem 2rem .8rem 1.25rem;
    width: 40%;
    line-height: 2rem;
    color: #354657;
}

br {
    display: block;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead th {
    font-size: .9rem;
    background-color: #F0F2F5;
    text-transform: uppercase;
    text-align: left;
    padding: .4rem 0 .4rem 1.25rem;
}

tfoot {
    font-size: .9rem;
    background-color: #F0F2F5;
}

tfoot>tr>td:nth-child(1) {
    text-transform: uppercase;
    font-weight: 700;
    text-align: right;
}

table td {
    padding: .4rem 0 .4rem 1.25rem;
}

table a {
    border: 2px solid #946FD3;
    border-radius: 50px;
    text-decoration: none;
    color: #946FD3;
    padding: 5px 20px;
    font-weight: 700;
}

.back {
    display: inline-block;
    border: 2px solid #946FD3;
    border-radius: 50px;
    text-decoration: none;
    color: #946FD3;
    padding: 20px 80px;
    font-weight: 700;
    margin-top: 50px;
}

.main__content-navigation {
    width: 20%;
}

.main__content-navigation a {
    display: block;
    background-color: #F0F2F5;
    text-decoration: none;
    color: #354657;
    font-weight: 700;
    padding: 1rem 0 1rem 1.25rem;
    border-bottom: 1px solid #E2E2E2;
}

.main__content-navigation a:focus {
    color: #C2C2C6;
}