    @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&display=swap');
     :root {
        font-size: 20px;
        font-family: 'Raleway', sans-serif;
    }
    
    .container {
        margin: 0 auto;
        width: 85%;
    }
    
    .banner {
        background-image: url("../img/24x11-1600x733-daily-habits-nutrition-kit\ 1\ 1\ \(1\).png");
        background-size: contain;
        background-repeat: no-repeat;
        height: 600px;
        color: white;
    }
    
    .banner__content {
        padding-top: 100px;
        animation: animationbanner 1.5s linear 1;
    }
    
    .banner__content-title {
        font-weight: 900;
        font-size: 2.4rem;
        margin-bottom: 30px;
        line-height: 55px;
    }
    
    .banner__content-subtitle {
        font-size: 1.2rem;
        margin-bottom: 40px;
    }
    
    .banner__center {
        background: #F0E5FF;
    }
    
    .content {
        display: flex;
    }
    
    .banner__center-info {
        width: 48%;
        margin-top: 40px;
    }
    
    .banner__center-suptitle {
        color: #946FD3;
        text-transform: uppercase;
        font-weight: 700;
    }
    
    .banner__center-title {
        font-size: 1.9rem;
        font-weight: 700;
        line-height: 2.2rem;
    }
    
    .banner__center .btn-primary {
        margin-top: 2rem;
    }
    
    .banner__content-image :nth-child(1) {
        -webkit-animation: banner__content-image2 2s linear infinite;
        animation: banner__content-image2 2s linear infinite;
    }
    
    .banner__content-image :nth-child(2) {
        position: relative;
        left: -10%;
        -webkit-animation: banner__content-image1 2s linear infinite;
        animation: banner__content-image1 2s linear infinite;
    }
    
    .cards__title {
        font-size: 1.8rem;
        font-weight: 700;
        text-align: center;
        padding: 2.5rem 0;
    }
    
    .cards__items {
        display: flex;
        justify-content: space-between;
    }
    
    .cards__items a {
        margin: 1.25rem;
    }
    
    .flip-card {
        width: 32%;
    }
    
    .flip-card:hover {
        background-color: #946FD3;
        animation: cards__items-flip 2s linear 1;
    }
    
    .cards__items-title {
        font-size: 1.2rem;
        font-weight: 700;
        padding: .75rem 1.25rem;
        color: #354657;
    }
    
    .cards__items-info {
        font-size: .8rem;
        padding: 0 1.25rem;
        color: #354657;
    }
    
    .cards__items img {
        width: 100%;
    }
    
    @keyframes animationbanner {
        from {
            transform: translateX(-100vw);
        }
        to {
            transform: translateX(0)
        }
    }
    
    @media screen and (max-width: 800px) {
        .banner {
            display: none;
        }
    }
    
    @keyframes banner__content-image1 {
        from {
            transform: rotateZ(0)
        }
        to {
            transform: rotateZ(360deg)
        }
    }
    
    @-webkit-keyframes banner__content-image1 {
        from {
            -webkit-transform: rotateZ(0)
        }
        to {
            -webkit-transform: rotateZ(360deg)
        }
    }
    
    @keyframes banner__content-image2 {
        from {
            transform: rotateZ(360deg)
        }
        to {
            transform: rotateZ(0)
        }
    }
    
    @-webkit-keyframes banner__content-image2 {
        from {
            -webkit-transform: rotateZ(360deg)
        }
        to {
            -webkit-transform: rotateZ(0)
        }
    }
    
    @keyframes cards__items-flip {
        from {
            transform: rotateY(0);
        }
        to {
            transform: rotateY(180deg);
        }
    }
    
    @-webkit-keyframes cards__items-flip {
        from {
            -webkit-transform: rotateY(0);
        }
        to {
            -webkit-transform: rotateY(180deg);
        }
    }