@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&display=swap');
html {
    font-family: 'Arimo', sans-serif;
    font-size: 16px;
    color: #484848;
}

body {
    background-color: cadetblue;
}

table {
    background-color: white;
    min-width: 800px;
    max-width: 1200px;
    table-layout: fixed;
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    padding: 0;
}

tbody {
    table-layout: fixed;
    box-sizing: border-box;
    text-transform: uppercase;
    text-align: center;
}

td {
    padding: 25px;
    border-right: solid 2px #e3e3e3;
    width: 25%;
}

a {
    text-decoration: none;
    padding: 10px 70px;
    border-radius: 10px;
    box-sizing: border-box;
    color: #fff;
}

.bold {
    font-weight: 700;
    font-size: 1.9rem;
}

.regular {
    font-size: 1.1rem;
}

.price {
    font-weight: 700;
    font-size: 3.75rem;
    position: relative;
}

.price::after {
    content: 'Per Month';
    font-size: 1.1rem;
    font-weight: normal;
    position: relative;
    left: -35px;
}

.supprice {
    font-size: 1.5rem;
    vertical-align: super;
}

.bg-green {
    background-color: #89c331;
    color: #fff;
}

a.bg-green {
    box-shadow: #79b027 0px 5px;
}

.bg-red {
    background-color: #f04a56;
    color: #fff;
}

a.bg-red {
    box-shadow: #df3a46 0px 5px;
}

.bg-blue {
    background-color: #20807c;
    color: #fff;
}

a.bg-blue {
    box-shadow: #16736f 0px 5px;
}

.bg-dark-gray {
    background-color: #484848;
}

a.bg-dark-gray {
    box-shadow: #404040 0px 5px;
}

.light-gray {
    background-color: #f2f2f2;
}

.gray {
    background-color: #e3e3e3;
}

td.storage::before {
    content: url('../img/storage.png');
    position: relative;
    left: -10px;
}

td.bandwidth::before {
    content: url('../img/bandidth.png');
    position: relative;
    left: -10px;
}

td.email::before {
    content: url('../img/email.png');
    position: relative;
    left: -10px;
}

td.support::before {
    content: url('../img/support.png');
    position: relative;
    left: -10px;
}

td.products::before {
    content: url('../img/products.png');
    position: relative;
    left: -10px;
}

td.users::before {
    content: url('../img/users.png');
    position: relative;
    left: -10px;
}